$primary: #288FEB;
$secondary: #28CB75;
$light-gray: #DDDDDD;
$medium-gray: #646C71;
$dark-gray: #2E3234;

$primary-font-stack: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

$font-small: 14px;
$font-medium: 16px;
$font-large: 21px;
$font-xlarge: 27px;

@import "reset";
@import "icons";
@import "mixins";
@import "layout";
@import "header";
@import "footer";
@import "posts";
@import "app/index";
@import "responsive";
