<table style="width: 100%;">
    <thead>
        <tr>Name</tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        {{#each app/user/installations}}
            <tr>
                <td><a href="#!/installations/{{id}}">{{domain}}</a></td>
                <td><a href="#!/installations/{{id}}/clone">Clone</a></td>
                <td><a href="#!/installations/{{id}}/history">History</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>
