<div class="wrapper wrapper-narrow">
    <ul>
        <li>Show total bandwidth</li>
        <li>Show total disk space</li>
        <li>Show # of sites</li>
    </ul>
</div>

<div class="wrapper wrapper-table">
    <table>
        <tbody>
            {{#each app/user/installations}}
                <tr>
                    <td><a href="#!/installations/{{id}}">{{domain}}</a></td>
                    <td class="desktop-only"><a href="#!/installations/{{id}}/clone">Clone</a></td>
                    <td class="desktop-only"><a href="#!/installations/{{id}}/history">History</a></td>
                </tr>
            {{/each}}

            <tr class="mobile-only">
                <td colspan="3">
                    <a href="#!/my-account">
                        My Account
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
