<div class="wrapper wrapper-medium">
    <form class="form">
        <div class="field">
            <h2>Securing Your Site</h2>
            <p>It's a great idea to add an SSL certificate to your website. It adds a higher level of security and safety for your visitors.</p>
            <p>Already have a CSR? <a href="!">Click here to enter your certificate info.</a></p>
        </div>

        <div class="field">
            <a href="!"class="button secondary">Generate A CSR</a>
        </div>
    </form>
</div>
