<form action="edit">
    <div class="field">
        <label for="email">Email Address</label>
        <input type="email" name="email">
    </div>

    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>

    <div class="field">
        <button type="submit">Save My Account</button>
    </div>
</form>
