<div class="wrapper wrapper-medium">
    <div class="field">
        <h2>Try FastWordPress FREE for the next 7 days.</h2>
        <p>We were tired of the slow, insecure, high down-time, shared hosting providers AND the pay-through-the-nose, managed WordPress platforms. So, we built the service <em>we</em> wanted.</p>
        <p>Fast, reliable, secure, and affordable WordPress hosting with automated backups, instant roll-backs, site cloning, and SSL support. Our interface gets to the point, so you can get on with more important stuff.</p>
        <p>We've finally shared our platform with the world and now <em>you</em>, too, can use it — just fill out the form below to <a href="#" class="focus-first">try it free for 7 days</a> (we won't charge your credit card until then).</p>
        <p>Already have an account? <a href="#!/sign-in">Sign in here.</a></p>
    </div>
</div>

<div class="wrapper wrapper-narrow">
    <form class="form" action="sign-up">
        <div class="field">
            <label for="name">Your Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="field">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="field">
            <label for="number">Credit Card</label>
            <input type="text" data-stripe="number" id="number" placeholder="Card Number">
            <input type="text" data-stripe="exp-month" placeholder="Expiry Month (MM)">
            <input type="text" data-stripe="exp-year" placeholder="Expiry Year (YY)">
            <input type="text" data-stripe="cvc" placeholder="CCV">
        </div>

        <div class="field">
            <label for="plan">Choose A Plan</label>
            <select name="plan_id" id="plan">
                {{#each app/plans}}
                    <option value="{{id}}" {{#if isSelected}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="field">
            <button type="submit" class="secondary">Sign Up Now</button>
        </div>
    </form>
</div>
