<div class="wrapper wrapper-medium">
    <form action="site-form" class="form">
        <div class="field">
            <h2>
                {{#if site/id}}
                    Edit this
                {{else}}
                    Create A
                {{/if}}
                Site
            </h2>
            <p>Change the configuration for this site.</p>
        </div>

        <div class="field">
            <label>Domain</label>
            <input type="text" name="domain" value="{{site/domain}}" autofocus="true">
        </div>

        <div class="field">
            <button type="submit" class="button secondary">Save This Site</button>
        </div>
    </form>
</div>
