<div class="form wrapper wrapper-medium">
    <div class="field">
        <h2>Stats.</h2>
        <p>How many times have you lost valuable data? Never again! We've got your back with our automated and manual backups.</p>
    </div>
</div>

<div class="wrapper wrapper-narrow">
    <ul>
        <li>Links to actions</li>
        <li>Charts of bandwidth, disk usage</li>
    </ul>
</div>
