.fwp {
    @include clearfix();

    background: #fff;
    position: relative;
    min-height: 600px;
    margin-bottom: $font-xlarge * 2;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;

    .sidebar {
        background: $dark-gray;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        overflow-y: auto;

        a {
            padding: $font-large;
            display: block;
            line-height: 1;
            color: #fff;

            &.active {
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .content {
        @include clearfix();

        // margin-left: 250px;
        // position: relative;

        .loading {
            background: rgba(255, 255, 255, 0.8);
            position: absolute;
            top: $font-large * 3.3;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 20% 40%;
            text-align: center;
        }

        .header {
            @include clearfix();

            background: $primary;
            color: #fff;

            h1, h2 {
                width: auto;
                font-size: $font-xlarge;
                color: #fff;
                float: left;
                line-height: 1;

                a {
                    padding: $font-large - 1 $font-large;

                    i {
                        margin-top: -2px;
                        padding-bottom: 2px;
                    }
                }
            }

            h1 {
                padding: $font-large $font-large;
            }

            a {
                opacity: 0.5;
                display: inline-block;

                &:hover {
                    opacity: 1.0;
                }

                &.active {
                    opacity: 1.0;
                    background: rgba(255, 255, 255, 0.8);
                    color: $primary;
                }
            }

            .menu {
                text-transform: uppercase;
                line-height: 1;
                font-size: $font-small;
                float: right;

                &.installation-menu {
                    float: left;
                }

                li {
                    display: inline-block;
                }

                a {
                    padding: $font-xlarge + 2 $font-medium $font-xlarge - 1;
                }
            }
        }

        .main {
            padding: $font-xlarge;
        }
    }
}
